.add-button {
  height:40px;
  width:55px;
  cursor:pointer;
  border-radius: 5px;
}

.add-button-div {
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.list-table{
  width:100%;
}

.list-table-div {
  height:99%;
  width:99%;
  display:flex;
}

.owl {
  margin-right:7%;
}

.owl-table{
  height:100%;
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
