.BookSearch{
  text-align: center;
  margin-left: 1.5%;
  width:80%;
  height: 50%;
  border-radius: 10px;
  min-width: 260px;
  opacity:0.91;
}

.Favorites-button {
  background: transparent;
  border: transparent;
  border-radius: 10px;
  height:55%;
  width:10%;
  min-width: 60px;
}

.First-div{
  height:70%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.Search-button{
  border-radius: 10px;
  height:55%;
  width:10%;
  min-width: 60px;
}

.Search-button:hover {
  cursor:pointer;
}

.Search-container{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star{
  height:100%;
  width:auto;
}
