.App {
  background-image: url("./images/books.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Containment-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.Results-div{
  background:white;
  width: 57%;
  height:69%;
  margin-top: 1%;
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  border-radius: 16px;
  opacity:0.91;
}

.Search-div{
  width: 65%;
  height: 20%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
